*{
    font-family: Roboto;
    margin: 0;
}

.Buttons {
    display: flex; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.055);
    padding-bottom:10px;
    padding-top:10px;
}

.EaseOffButton {
    background-color: rgba(255, 255, 255, 0.048);
    color: rgb(55, 192, 255);
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.15s;
}

.EaseOffButton:active{
    opacity: 0.8;
}


.Udnerline
{
    position: relative;
}

.Udnerline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(55, 192, 255);
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}

.Udnerline:hover:before {
    visibility: visible;
    width: 100%;
}

.Udnerline:active {
    opacity: 0.8;
}